.auth-page {
  width: 50%;
  border-radius: 20px;
  border: 2px solid #ffa500;
  padding: 20px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 20px;

  &-wrapper {
    width: 100vw;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
  }
}
